<%- include('partials/header') %>

<div class="jumbotron">
    <h1 class="display-4">Registration Successfull..!!</h1>
    <hr class="my-4">
    <p> Thank you For Registration.</p>
    <a class="btn btn-primary btn-lg" href="/reservation" role="button">For more Reservation..</a>
  </div>


<%- include('partials/footer') %>