<%- include('partials/header') %>

<div class="jumbotron">
    <h1 class="display-4">Updated Successfull..!!</h1>
    <hr class="my-4">
    <p> Thank you For Updating your details.</p>
    <a class="btn btn-primary btn-lg" href="/submit" role="button">for details</a>
  </div>


<%- include('partials/footer') %>